
{% extends "base.html" %}

{% block content %}
	<div class="container">		
		<h1> STOCK WATCHLIST</h1>

		<table class="table table-bordered table-striped">
  			<thead class="thead-dark">
			    <tr>
			      <th scope="col">Count</th>
			      <th scope="col">Ticker</th>
			      <th scope="col">Name</th>
			      <th scope="col">Price</th>
			      <th scope="col">Change</th>
			      <th scope="col">Stance</th>
			    </tr>
  			</thead>
			
			<tbody>
				{% for stock in stock_objects %}
				<tr>
			      <th scope="row">{{ forloop.counter0 }}</th>
			      <th scope="row">{{ stock.ticker }}</td>
			      <td>{{ stock.name }}</td>
			      <td>121</td>
			      <td>5</td>
			      <td>Bearish</td>
			    </tr>
			    {% endfor %}
			</tbody>
		</table>
</br>
<!-- {% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %} -->


{% endblock content %}

<!-- 

<div class="card" style="width: 50rem;">
		  
			  		<div class="card-body">
			    		<h5 class="card-title"><a href='{{ stock.get_absolute_url }}'>{{stock.name.title }}</a> <small>{{ stock.create_date | timesince }} ago</small></h5>
					    <p class="card-text">
					    Ticker: {{ stock.ticker }}</br>
					    Company: {{ stock.name }}</br>
						</p>
					    <a href="{{ stock.get_absolute_url }}" class="btn btn-primary">View</a>
			  		</div>
				</div> -->